html, body {
  height: 100%;
}

ul {
  padding: 0;
}

.box {
  display: inline-block;
  margin: auto 5px;
  width: 209px;
  height: 209px;
  vertical-align: top;
  border: 3px solid blue;
  background: #0275ea;
}


.horizontal, .ship, .vertical {
  z-index: 10;
}
.horizontal.carrier {
  background: url("../img/carrier-h.png");
  height: 40px;
  width: 200px;
}

.vertical.carrier {
  background: url("../img/carrier-v.png");
  height: 200px;
  width: 40px;
}

.horizontal.destroyer {
  background: url("../img/destroyer-h.png");
  height: 40px;
  width: 80px;
}

.vertical.destroyer {
  background: url("../img/destroyer-v.png");
  width: 40px;
  height: 80px;
}

.horizontal.submarine {
  background: url("../img/submarine-h.png");
  height: 40px;
  width: 120px;
}

.vertical.submarine {
  background: url("../img/submarine-v.png");
  width: 40px;
  height: 120px;
}

.horizontal.cruiser {
  background: url("../img/cruiser-h.png");
  height: 40px;
  width: 120px;
}

.vertical.cruiser {
  background: url("../img/cruiser-v.png");
  width: 40px;
  height: 120px;
}

.horizontal.battleship {
  background: url("../img/battleship-h.png");
  height: 40px;
  width: 160px;
}

.vertical.battleship {
  background: url("../img/battleship-v.png");
  width: 40px;
  height: 160px;
}
.vertical {
  /* -webkit-transform: rotate(90deg); */
  width: 40px;
  height: 200px;
}


/* @-webkit-keyframes rotate {
  0% {-webkit-transform: rotate(0deg);}
/*  100% {-webkit-transform: rotate(90deg);}
 } */

.ships {
  background: none;
  width: 260px;
  height: 400px;
}

.ships ul {
  list-style-type: none;
  text-align: left;
  margin-left: 10px;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

.ships li {
  margin: 0;
  padding: 0;
  max-height: 40px;
}

.gridTop, .gridBottom {
  margin-top: 2px;
  text-align: center;
  width: 100%;
  height: 250px;
}

.board {
  margin: 0 auto;
  width: 1300px;
  height: 550px;
  border: 3px solid blue;
}

.side {
  margin: .5em 1em;
  display: block;
  text-align: center;
}

.gridA {
  
}

.gridTable {
  display: table inline-block;
  width: 400px;
  height: 400px;
}

.row {
  display: table-row;
  width: 100%;
  height: 40px;
}
.cell {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
